@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
    margin: 0;
    padding: 0;
}
body{
    width: 1200px;
    margin:0 auto;
    padding-top: 50px;
    border: 1px solid red;
    font-family: 'Poppins', sans-serif;
}
nav{
    /* width: 1200px;
    margin: 0 auto; */
    
    display: flex;
    justify-content: space-between;
    
}

.navigation-items{
    display: flex;
}
.navigation-items li{
    list-style-type: none;
    margin-left: 30px;
    
}
.navigation-items li a{
    text-decoration: none;
    color: #3A3A3A;
    font-size: 16px;
    font-weight: 600;
}

.company-name{
    font-size: 24px;
    font-weight: 700;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 70px;
}
.header-details{
    width: 582px;
    color: #3A3A3A;
}
.header-details h1{
    font-size: 52px;
    font-weight: 700;
}
.header-details p{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 20px;
}
.header-details a{
    text-decoration: none;
    color: white;
    background-color: #E02C6D;
    text-align: center;
    padding: 10px 24px;
    border-radius: 41px;
    font-size: 16px;
}
.fa-arrow-right{
    width: 24px;
    height: 24px;
}

.clients{
    display: flex;
    justify-content: center;
    padding: 36px;
    /* border-width: 3px;
  border-style: solid; */
  /* border-image: 
    linear-gradient(
      to bottom, 
      red, 
      rgba(0, 0, 0, 0)
    ) 1 100%; */

    border-top: 1px solid #3A3A3A;
    border-bottom: 1px solid #3A3A3A;
    margin-bottom: 10px;
}
.clients img{
    margin-right: 61px;
}
